* {
  padding: 0;
  margin: 0;
}
.App {
  text-align: center;
}

.App-logo {
  margin-top: 30px;
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Card {
  margin-top: 30px;
  padding: 10px 10px;
  width: 250px;
  height: 200px;
  font-size: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
}

.mt {
  margin-top: 15px;
}

.mb {
  margin-bottom: 15px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

input {
  border-radius: 25px;
}
